
body {
        margin: 0%;
	width:1440px;
}
* {
	box-sizing:border-box;
}

#muralText {	  
	   background-color:#134380;
	   color:White;
	   padding-left:20px;
 	   padding:right:10px;
	   padding-top:30px;
	   padding-bottom:30px;   

}
#muralTextTitle {
		color:#FFD743; 
		text-align:center;
		font-family:Nunito,sans-serif;
		font-weight:semibold;
		font-size:24pt; /* 16pt; */
}

li {
    padding: 10px;
    font-family:Nunito,sans-serif;
    font-weight:regular;
    font-size:18pt;
    letter-spacing:1px;
    word-spacing:2px;
    line-height:1.4;
}
.donate {
	text-align:center;
}
#donateLink {
		background-color:#FFD743;
		color:#134380;
		border:none;
		border-radius:25px;
		padding-top:10px;
		padding-bottom:10px;
		padding-left:30px;
		padding-right:30px;
		font-weight:bold;
		font-family:Nunito,sans-serif;	
		font-size:14pt;	
		letter-spacing:3px;
}

.row {
 	width:100%;
	
}

.column { 
	  float:left;	
	  height:921px;
	}

.left {
	  width:60%;
	  height:921px;
}
.right {
	 width:40%;
	 height:921px;
}

.row:after {                      
             clear: both;
           }


